<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="on-the-day">
          <h1 class="page-heading">{{ page.title }}</h1>

          {{ content }}

          <h2 class="page-sub-heading">Schedule</h2>

          {% for item in page.items %}
          <div class="faq">
            <div class="faq-item">
              <strong>{{ item.title }}</strong> &mdash; {{ item.time }}
              <p>{{ item.description }}</p>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
