<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-heading">{{ page.title }}</h1>

        {{ content }}

        <div class="faq">
          {% for item in page.items %}
            <div class="faq-item">
              <strong>{{ item.question }}</strong>
              <p>{{ item.answer }}</p>
            </div>
          {% endfor %}
        </div>

        <img
          src="{{ page.picture.src | absolute_url }}"
          alt="{{ page.picture.alt }}"
        />

      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
